[submodule "deps/liboqs"]
	path = deps/liboqs
	url = https://github.com/hwnahm/liboqs.git
	branch = norma
[submodule "deps/liboqs-cpp"]
	path = deps/liboqs-cpp
	url = https://github.com/hwnahm/liboqs-cpp.git
	branch = norma
